<nav class="navbar bg-dark border-bottom border-body my-4" data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" routerLink="/Typing">Typing Master</a>
                    <a class="nav-link active" routerLink="/pwg">Password Generator</a>
                    <a class="nav-link active" routerLink="/Both">Both</a>
                </div>
            </div>
        </div>
    </nav>
</nav>