<div class="card"  style="margin: 6rem  auto; width: 32rem;">
  <div class="card-body bg-dark">
    <h4 class="text-primary text-center">Password Generator</h4>
    
    <div>
    <input type="text" class="from-control" placeholder="Enter Length" aria-label="Length"
    aria-describedby="addon-wrapping" #in (keyup)="getlength(in.value)">
    </div>
    
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="incluecharecter()">
        <label class="form-check-label" for="flexCheckDefault">
          Include char 
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="includenumber()" >
        <label class="form-check-label" for="flexCheckChecked">
          Include num
        </label>
      </div>

      <div>
        <input type="btn btn-primary" style="margin: 10px;" type="submit" value="submit" (click)="genpass()">
      </div>

      <div class="container" *ngIf="generated" style="margin: auto ;margin-bottom: 10px;">
        <input type="text" class="from-control" placeholder="generate pass" aria-label="Enter Length"
        aria-describedby="addon-wrapping" value="{{generated}}">
      </div>

  </div>
</div>